@{
    ViewBag.Title = "NotifyData";
}

<link href="http://localhost:54862/Scripts/bootstrap.min.css" rel="stylesheet" />
<script src="http://localhost:54862/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.8.2.js"></script>

<h2>SAC</h2>

<button type="button" class="btn btn-primary" id="btn_notify">Data Arrived</button>

<script type="text/javascript">
    $(function () {

    });//End jQuery
</script>